<% @top_posts.each do |post| %>
  <% if post.status == 1 %>
    <div class="box--item text-center">
      <a class="img" data-overlay="0.1">
        <% if post.post_images.any? %>
          <% post.post_images.each do |img| %>
            <%= image_tag(img.link.url)  %>
            <% break %>
          <% end %>
        <% else %>
          <%= image_tag("ITnihongo.jpg") %>
        <% end %>
      </a>

      <!-- User avata -->

      <div class="info">
          <div class="icon fs--18 text-lightest bg-primary">
             <li> <%= link_to gravatar_for(post.user) %></li>
          </div>

          <div class="title">
              <h2 class="h6">
                <%= link_to post_path(post) do %>
                  <%= post.title %>
                <% end %>
              </h2>
          </div>

          <div class="meta">
              <p><%= post.created_at.to_s %></p>
              <p><%= post.book_name %></p>
          </div>

          <div class="desc text-darker">
              <p>
                <%= truncate_html(post.content, length: 80, omission: ' ...') %>
              </p>
          </div>

          <div class="wrapIcon like">
            <span class="far fa-thumbs-up"></span>&nbsp;
            <p class="amount like ng-binding">
              <%= link_to post.likes.count, post %>
            </p>
          </div>&nbsp;&nbsp;|
          <div class="wrapIcon comment">
            <span class="fa fa-comments"></span>&nbsp;
            <p class="amount comment ng-binding">
              <%= link_to post.comments.count, post %>
            </p>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
