<section class="section pt--70 pb--20">
  <div class="container">
    <div class="col-md-12 pb--20">
      <div class="section--title pb--20">
          <div class="title">
              <h2 class="h2 fw--600 float--left"><%= t "topusers" %></h2>
          </div>
      </div>
      <div class="member--slider owl-carousel" data-owl-items="4" data-owl-autoplay="false" data-bg-img="img/members-img/pattern-bg.png" data-owl-nav="true" data-owl-center="true" data-owl-responsive='{"0": {"items": "1"}, "486": {"items": "3"}, "992": {"items": "4"}}'>
          <% @top_users.each do |user| %>
            <div class="member--item">
              <div class="vc--parent">
                  <div class="vc--child">
                      <div class="img img-circle">
                          <a class="btn-link">
                              <%= link_to gravatar_for(user, size: 60),user %>
                          </a>
                      </div>

                      <div class="name">
                          <h3 class="h6 fs--12">
                              <a class="btn-link">
                                <%= link_to user_path(user) do %>
                                  <%= user.name %>
                                <% end %>
                              </a>
                          </h3>
                      </div>
                      <div class="actions">
                          <ul class="nav">
                              <li>
                                  <a title="Posted" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                      <i class="fa fa-envelope-o"><%= user.posts.count %></i>
                                  </a>
                              </li>
                              <li>
                                  <a title="Liked" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                      <i class="fas fa-thumbs-up"><%= user.count_getted_like %></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
