<li id="post-<%= post.id %>">
  <!-- Activity Item Start -->
  <div class="activity--item",>
      <div class="activity--avatar">
          <a href="member-activity-personal.html">
              <%= link_to gravatar_for(post.user) %>
          </a>
      </div>

      <div class="activity--info fs--14">
          <div class="activity--header">
              <p><a href="member-activity-personal.html"><%= post.user.name %></a> posted at:</p>
          </div>

          <div class="activity--meta fs--12">
              <p><%= post.created_at.to_s %></p>
          </div>

          <div class="activity--content">
              <div class="info">
                <div class="name">
                    <h2 class="h6 fs--12"><%= link_to post.title, post %>
                      <% if post.status == 1 %>
                        (Open)
                      <%else %>
                        (Closed!)
                      <%end%>
                    </h2>
                    <h2 class="h6 fs--12"><%= link_to post.book_name, post %></h2>
                    <a  data-overlay="0" data-overlay-color="white">
                      <% post.post_images.each do |img| %>
                        <%= image_tag(img.link.url,  class: "img-responsive post-image", style: "height: 100px; width:100px")  %>
                      <% end %>
                    </a>

                    <p>
                      <blockquote class="fs--12 text-darkest">
                        <p>
                          <% post.content.to_s.split(' ').each do |word| %>
                            <% if word.start_with?('#') %>
                              <%= link_to word, search_path(q: word) %>
                            <%else %>
                              <%= word %>
                            <%end %>
                          <% end %>
                        </p>
                      </blockquote>
                    </p>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Activity Item End -->
</li>
