
<!-- Header Navbar Start -->
    <div class="header--navbar navbar bg-default" data-trigger="sticky">
        <div class="container">
            <div class="navbar-header">
                <!-- button gom nhóm -->
                <button type="button" class="navbar-toggle style--3 collapsed" data-toggle="collapse" data-target="#headerNav">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Header Navbar Logo Start -->
                <div class="header--navbar-logo navbar-brand">
                  <a class ="normal">
                    <%= link_to root_path do %>
                      <%= image_tag("logo1.jpg",style: "height: 80px; width:138px") %>
                    <% end %>
                  </a>
                </div>
                <!-- Header Navbar Logo End -->
            </div>

            <!-- Header Search Start -->
            <div class="header--search style--2 float--right" data-form="validate">
                <%= form_tag search_path, method: :get do %>
                  <%= text_field_tag :q, params[:q], class:"form-control", name:"search",
                      placeholder:"Looking for book name..." %>
                  <%= button_tag class: "btn-link" do  %>
                    <i class="fa fa-search"></i>
                  <% end %>
                <% end %>
            </div>
            <!-- Header Search End -->
            <div id="headerNav" class="navbar-collapse collapse float--right">
                <!-- Header Nav Links Start -->
                <ul class="header--nav-links style--3 nav ff--primary">
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span>Home</span>
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                              <%= link_to root_path do %>
                                <%= t "home.trangchu" %>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to root_path do %>
                                <%= t "home.contact" %>
                              <% end %>
                            </li>
                        </ul>
                    </li>
                    <% if user_signed_in? %>
                      <%= render "layouts/header_user.html.erb" %>
                    <% else %>
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown">
                              <span>Sign up</span>
                              <i class="fa fa-caret-down"></i>
                          </a>

                          <ul class="dropdown-menu">
                              <li>
                                <%= link_to new_user_registration_path, method: :get do %>
                                  <%= t "user.sign_up" %>
                                <% end %>
                              </li>
                              <li>
                                <%= link_to new_user_session_path, method: :get  do %>
                                   <%= t "user.login" %>
                                <% end %>
                              </li>
                          </ul>
                      </li>
                    <% end %>
                    <!--  -->
                    <!--  -->
                </ul>
                <!-- Header Nav Links End -->
            </div>
        </div>
    </div>
    <!-- Header Navbar End -->
</header>
